@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-muted fw-bold">Hello @User.Identity?.Name!</span>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Auth" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link text-danger border-0 fw-bold"><i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</button>
            </form>
        </li>
    }
</ul>
